Debug/
Release/
doc/*
eRacer/Doc/*
eRacer/dist
eRacer/build
Thumbs.db
.moc/*
.tmp/*
*.plist
*.aux
*.log
*.out
*.synctex.gz
.DS_Store
.cproject
.project
.externalToolBuilders/*
.texlipse
*.ncb
*.suo
*.pyc
*.tmp
*.TMP
*.pdb
*.user
eRacer/Source/SWIG/eRacer.py
eRacer/Source/SWIG/swig_wrap.h
eRacer/Source/SWIG/swig_wrap.cxx
.metadata
eRacer/.externalToolBuilders
eRacer/profile.data
eRacer/.pydevproject
