[CONSTS]

PHYS_GRAVITY_X  =  0
PHYS_GRAVITY_Y  = -9.81
PHYS_GRAVITY_Z  =  0
PHYS_DEBUG_MODE =  1
PHYS_SKIN_WIDTH =  0.05


CAR_DEBUG       =  0
CAR_MASS        =  5000.0

SPRING_MAGIC    =  0.5
DAMPING_MAGIC   =  0.2

MASS_CENTRE_X   =  0.0
MASS_CENTRE_Y   = -1.5
MASS_CENTRE_Z   =  0.0

REV_ALPHA       =  0.1
TURN_ALPHA      =  0.1

DRAG_COEFF      =  8.0

MAX_ENG_FORCE   =  3e3
MAX_BRAKE_FORCE =  3e3
