[CONSTS]

MAX_TIMESTEP  = 0.020
MIN_TIMESTEP  = 0.000
SLEEP_TIME    = 0.010

PHYS_GRAVITY_X  = 0
PHYS_GRAVITY_Y  = 0
PHYS_GRAVITY_Z  = 0
PHYS_DEBUG_MODE = 1
PHYS_SKIN_WIDTH = 0.05

TRACK_DEBUG     = 0

CAR_DEBUG       = 6
CAR_MASS        = 5000.0
CAR_GRAVITY     = 100.0

SPRING_MAGIC    = 1.0
DAMPING_MAGIC   = 0.2

MASS_CENTRE_X   = 0.0
MASS_CENTRE_Y   =-0.5
MASS_CENTRE_Z   = 0.0

REV_ALPHA       = 0.1
TURN_ALPHA      = 0.002
WHEELVEL_ALPHA  = 0.70

DRAG_COEFF      = 8.0

MAX_ENG_FORCE   = 8e3
MAX_BRAKE_FORCE = 2e4

FRICTION_STATIC = 0.80
FRICTION_SLIDING= 0.80
BOOST_MULT      = 2.00
